<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="name"
		label="COM_BACKPIC_CONFIG_GREETING_SETTINGS_LABEL"
		description="COM_BACKPIC_CONFIG_GREETING_SETTINGS_DESC"
	>

		<field
			name="date_type"
			type="radio"
			label="COM_BACKPIC_BACKPIC_FIELD_DATE_TYPE"
			default="0"
		>
			<option value="0">COM_BACKPIC_BACKPIC_DATE_TYPE_SHAMSI</option>
			<option value="1">COM_BACKPIC_BACKPIC_DATE_TYPE_MILADI</option>
		</field>

	</fieldset>
	<!-- themes -->
	<fieldset
		name="themes"
		label="COM_BACKPIC_CONFIG_GREETING_SETTINGS_THEMES"
		description="COM_BACKPIC_CONFIG_GREETING_SETTINGS_DESC_THEMES"
	>

		<field
			name="bootstrap"
			type="radio"
			label="COM_BACKPIC_BACKPIC_FIELD_BOOTSTRAP"
			default="0"
		>
			<option value="0">COM_BACKPIC_BACKPIC_FIELD_BOOTSTRAP_IN</option>
			<option value="1">COM_BACKPIC_BACKPIC_FIELD_BOOTSTRAP_OUT</option>
		</field>

		<field
			name="count_resv_libs"
			type="radio"
			label="COM_BACKPIC_BACKPIC_FIELD_RESV"
			default="1"
		>
			<option value="0">COM_BACKPIC_BACKPIC_FIELD_RESV_IN</option>
			<option value="1">COM_BACKPIC_BACKPIC_FIELD_RESV_OUT</option>
		</field>

		<field
			name="star_teachers"
			type="radio"
			label="COM_BACKPIC_BACKPIC_FIELD_STAR_TEACHERS"
			default="1"
		>
			<option value="0">COM_BACKPIC_BACKPIC_STAR_TEACHERS_IN</option>
			<option value="1">COM_BACKPIC_BACKPIC_STAR_TEACHERS_OUT</option>
		</field>


	</fieldset>
	<!-- themes -->

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_backpic"
			section="component"
		/>
	</fieldset>
</config>
